input {
    display: block;
    margin-bottom: 10px;
}

div.center, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 550px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52.5%);
}

.buttonlogin input {
    padding: 0.25cm;
    margin: 0 auto 0 auto;
    border-radius: 0.15cm;
    background-color: lightgreen;
    border: 1px solid black;
    justify-content: center;
    font-weight: bold;
}

.buttonlogin input:hover {
    padding: 0.25cm;
    width: 100%;
    border-radius: 0.15cm;
    background-color: green;
    border: 1px solid black;
    justify-content: center;
    transition: 0.1s;
    font-weight: bold;
}

.main {
    background-color: white;
}

.error {
 border: none;
 background-color: transparent;
}

input {
    padding: 0.6cm 0.15cm 0.25cm 0.15cm;
    border-radius: 0.15cm;
    margin: -0.6cm 0 0 0;
}

label {
    padding: 0 0 0 0.15cm;
    color: black;
}

a {
    color: dodgerblue;
    font-weight: normal;
}

a:hover {
    color: white;
    font-weight: normal;
}

.errorText{
    color: red;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}